---

---

<section
  class="bg-verdeLimaAbitacolo w-full px-6 sm:px-16 py-10 relative grid justify-center text-center gap-5 leading-loose"
>
  <article class="grid max-w-[1100px] gap-2 justify-self-center">
    <h3 class="text-xl sm:text-2xl font-medium">
      ¿Te interesan nuestros servicios?
    </h3>
    <p class="sm:text-xl font-light max-w-[900px] justify-self-center">
      Si te encuentras en Madrid durante una temporada y requieres amueblar o
      decorar tu espacio, con uno, o dos, o más objetos.
    </p>
    <p class="sm:text-xl font-light">
      Si estás en una transición y no tienes clara tu permanencia, o simplemente
      te gustaría reacondicionar tus estancias, Abitacolo es para ti.
    </p>
  </article>
  <article class="grid max-w-[1150px] gap-2 justify-self-center">
    <h3 class="text-xl sm:text-2xl font-medium">
      ¡Registra tus datos en el formulario!
    </h3>
    <p class="sm:text-xl font-light">
      Así serás de las primeras personas en conocer nuestro catálogo y contar
      con nuestra atención personalizada, además de disfrutar los beneficios de
      ser un <strong class="font-semibold">abitacoler :)</strong>
    </p>
  </article>
</section>
